{% extends 'base.html' %}
{% block content %}
<div class="card text-center position-absolute top-50 start-50 translate-middle">
  <div class="card-header">
    Успех!
  </div>
  <div class="card-body">
    <h5 class="card-title">Ваш магазин добавлен в базу</h5>
    <p class="card-text">Осталось авторизироваться у бота в Телеграмме</p>
    <a href="https://t.me/ruselbyru_bot" class="btn btn-primary">К Телеграмм-боту</a>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>
{% endblock %}