{% extends 'base.html' %}

{% block content %}
<h1>New request</h1>
{% load crispy_forms_tags %}
<form method="post" action="" >
    <div class="container">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-success mt-2" type="submit" >Отправить</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_brandauto").change(function() {
        var brand = $(this).val()
    $.ajax({
      url: "/model_for_brand/",
      data: {
        'brandauto': brand
      },
      success: function (data) {
        $("#id_modelauto").html (data);
      }
    });
  });
</script>
{% endblock %}
